
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="/adminviewer/new">새로 만들기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adminviewer/unstarted_list">시작 예정 접수</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adminviewer/ongoing_list">진행중인 접수</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adminviewer/closed_list">종료된 접수</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pw_change">PW 변경</a>
            </li>
        </ul>
